@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    line-height: 1.6;
    background-color: #f4f4f4;
    color: #FAAACC;
    font-family: "Exo 2", sans-serif;
}


.pink {
    color: #FAAACC;
}

.ck {
    color: #3b3b3b;
    font-family: "Ms Madi", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.darkpink {
    color: #c7799a;
    font-family: "Exo 2", sans-serif;
}

.jj {
    color: #FAAACC;
    font-family: "Exo 2", sans-serif;
}


.j:hover {
    color: #c7799a;
    cursor: pointer;
}

.kk {
    font-size: 20px;
    color: #FAAACC;
    font-family: "Exo 2", sans-serif;
    margin-left: 10rem;
}

.kg {
    font-size: 20px;
    color: #FAAACC;
    font-family: "Exo 2", sans-serif;

}

.kg span {
    font-family: "Ms Madi", cursive;
    font-size: 50px;
}

.txt {

    margin-left: 90px;
}

.navbar-link {
    @apply transition duration-300 ease-in-out;
}

.navbar-link:hover {
    @apply text-indigo-500 transform translate-y-1;
}

.submit-button {
    @apply transition duration-300 ease-in-out;
}

.submit-button:hover {
    @apply bg-indigo-600 transform scale-105;
}

.project-card {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
    background-color: #E5E7EB;
    cursor: pointer;
}

.digital-art-card {
    position: relative;
    overflow: hidden;
}

.digital-art-card img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.digital-art-card:hover img {
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 8px;
}



.vp:hover {
    color: #c7799a;
}

.showcase {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;
}

.showcase img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.showcase img.active {
    opacity: 1;
}

.artwork-container {
    height: 300px;
    /* Set a fixed height for the image containers */
    overflow: hidden;
    position: relative;
}

.artwork {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 8px;

}

.digital-art-card {
    position: relative;
}

.app {
    width: 10px;
    height: auto;
}

.digital-art-name {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    color: rgb(99, 94, 94);
    text-align: left;
    padding: 0.5rem;


}

.digital-art-name:hover {
    text-decoration: underline;
    color: rgb(131, 109, 239);
}

.project-card a:hover {
    text-decoration: underline;
    color: rgb(131, 109, 239);
    font-style: italic;
}

.demo {
    font-size: 15px;
    color: rgb(149, 87, 243);
    font-style: italic;
}

.gradient-text-violet {
    background: linear-gradient(138deg, rgba(78, 57, 108, 1) 0%, rgba(157, 135, 190, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-oofa {
    background: linear-gradient(98deg, rgba(58, 58, 58, 1) 4%, rgba(223, 230, 123, 1) 23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-orange {
    background: linear-gradient(90deg, rgba(255, 149, 0, 1) 0%, rgba(242, 217, 75, 0.9809173669467787) 25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-ziok {
    background: linear-gradient(98deg, rgba(70, 182, 224, 1) 0%, rgba(223, 230, 123, 1) 12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-cleanly {
    background: linear-gradient(90deg, rgba(31, 124, 241, 1) 0%, rgba(92, 140, 233, 1) 14%, rgba(148, 196, 239, 1) 26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-cof {
    background: linear-gradient(90deg, rgba(220, 174, 105, 1) 0%, rgba(231, 195, 128, 1) 17%, rgba(231, 209, 128, 1) 30%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradient-text-sys {
    background: linear-gradient(90deg, rgba(126, 126, 125, 1) 0%, rgba(194, 192, 188, 1) 16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-bir {
    background: linear-gradient(86deg, rgba(255, 163, 0, 1) 0%, rgba(94, 212, 225, 1) 26%, rgba(94, 225, 157, 1) 42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-ebik {
    background: linear-gradient(86deg, rgba(200, 171, 120, 1) 0%, rgba(94, 212, 225, 1) 18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-side {
    background: linear-gradient(138deg, rgba(78, 57, 108, 1) 0%, rgba(157, 135, 190, 1) 34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-jjk {
    background: linear-gradient(98deg, rgba(44, 60, 76, 1) 0%, rgba(209, 155, 36, 1) 11%, rgba(141, 96, 165, 1) 22%, rgba(96, 165, 113, 1) 34%, rgba(55, 74, 118, 1) 42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-meal {
    background: linear-gradient(98deg, rgba(44, 60, 76, 1) 0%, rgba(209, 36, 36, 1) 11%, rgba(209, 207, 36, 1) 19%, rgba(51, 209, 36, 1) 27%, rgba(44, 60, 76, 1) 38%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradient-text-music {
    background: linear-gradient(98deg, rgba(22, 30, 38, 1) 6%, rgba(187, 189, 192, 1) 38%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

a span {
    color: #3b3b3b;
}



.grad {
    background: linear-gradient(47deg, rgba(247, 177, 215, 1) 32%, rgba(164, 149, 234, 1) 66%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradientt {
    background: linear-gradient(47deg, rgba(247, 177, 215, 1) 32%, rgba(164, 149, 234, 1) 66%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}